* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header------------------------------------------------------------------------------------------*/
header {
    padding: 2rem;
    justify-content: space-between;
    background-color: rgb(22, 63, 67);
    color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*LOGO*/
header .header_area {
    width: 250px;
}

header .header_area img {
    width: 100%;
}

header .div-header {
    display: flex;
    justify-content: space-between;
}

header .div-header .header_nav .ul-nav{
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 600px) {
    header {
        padding: 1rem;
    }

    header .header_area{
        justify-content: center;
        text-align: center;
        padding: 1rem;
    }

    header .div-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header .div-header .header_nav {
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 1rem;
        width: 100%;
    }

    header .div-header .header_nav .ul-nav{
        padding: 0.25rem;
        display: block;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
}

/*barra de navegação do header*/
header .div-header .header_nav {
    display: flex;
    justify-content: center;
    background-color: none;
}

/*LINKS*/
.header_nav a {
    color: rgb(196, 176, 146);
    margin-right: 0px;
}


/*link com mouse em cima*/
.header_nav a:hover {
    color: rgb(131, 103, 58);
    background-color: rgb(207, 178, 135);
    transition: background .4s;
}


/*link ativo*/
header .header_nav .ul-nav .active {
    background-color: rgb(238, 219, 192) !important;
    color: rgb(105, 81, 41) !important;
}

@media screen and (max-width: 1000px) {
    input .pesquisa,
    .caixa-pesquisa {
        width: 100px;
    }
}







































/*LANÇAMENTOS*/
.main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(16, 48, 51);
}

.area-lancamentos {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/*Lançamentos com parágrafos*/
.main .conteudo-lancamentos p,
.elenco,
.avaliação {
    color: rgb(238, 219, 192);
    font-size: 13px;
}

/*Conteudo de lançamentos dentro do main*/
.main-lancamentos {
    background-color: rgb(16, 48, 51);
    margin-bottom: 50px;
}

/*Main dos lançamentos para cor ficar dentro do carousel*/
.main-lancamentos2 {
    background-color: rgb(16, 48, 51) !important;
}


/*Titulo pricnipal da aba lançamentos*/
.titulos {
    text-align: center;
    font-size: 55px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: rgb(238, 219, 192);
}

.titulos-lancamento {
    text-align: center;
    font-size: 55px;
    margin-top: 30px;
    color: rgb(238, 219, 192);
}

@media screen and (max-width: 1000px) {
    .lancamentos-area .main-lancamentos {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .lancamentos-area .titulos-lancamento {
        font-size: 30px;
    }
}

/*video do ifrme utilizado*/
.video-lancamentos {
    background-color: rgb(16, 48, 51) !important;
    padding: 0px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.video-lancamentos iframe{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .video-lancamentos iframe{
        width: 100%;
    }
}


/*Conteudo do lançamento*/
.conteudo-lancamentos {
    background-color: rgb(16, 48, 51) !important;
    color: rgb(238, 219, 192);
    margin: 0px;
    padding: 0px;
    text-align: left;
}


/*Conteudo do elenco*/
.elenco {
    margin-bottom: 15px;
}


/*Lista de elenco do conteudo de elenco*/
.lista-elenco {
    display: inline;
    padding: 0px !important;
    margin-bottom: 50px;
    color: rgb(238, 219, 192);

}


/*Objetos li dentro da lista de elenco*/
.lista-elenco li {
    display: inline;
    margin-right: 20px;
}




































/*DESTAQUES =-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Mudança de cor do background do destaques*/
.carousel .slide {
    background-color: rgb(16, 48, 51) !important;
}


/*Area de destaques*/
.destaques {
    justify-content: center;
    background-color: rgb(238, 219, 192) !important;
    color: rgb(22, 63, 67);
}


/*Titulo do destaque*/
.destaques .titulos {
    padding: 0;
    margin: 0;
}

/*Titulo do destaque*/
.destaques .titulos h1 {
    padding: 1rem;
    margin: 0;
    width: 100%;
}

/*Titulo do destaque*/
.destaques .titulo-destaques {
    color: rgb(22, 63, 67);
    text-align: center;
    font-size: 55px;
    width: 100%;
}


/*Destaques com cartazes (Fundo)*/
.destaques2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(238, 219, 192);
    padding: 2rem;
}

.destaques2 .cartaz {
    width: 300px;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px;
    background-color: var(--verdeSecundario);
}

/*Cartazes do destaque*/
.destaques2 .cartaz img {
    width: 100%;
    height: 100%;
}

/*botão ver mais em destaques*/
.destaques3 {
    background-color: rgb(238, 219, 192);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .destaques3 {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.destaques3 .botao-ver {
    align-items: center;
    text-align: center;
    justify-content: end;
}


/*Alterações do botão ver mais destaques*/
.destaques3 .botao-ver button {
    color: rgb(238, 219, 192) !important;
    background-color: rgb(22, 63, 67);
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
}

.destaques3 .botao-ver a {
    color: rgb(238, 219, 192) !important;
    background-color: rgb(22, 63, 67);
    text-decoration: none;
}


/*Area de avaliação titulo*/
.main-avaliacoes {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(148, 128, 95);
    color: rgb(22, 63, 67);
}


/*Titulo do avaliação*/
.destaques4 .titulo-avaliacao {
    color: rgb(238, 219, 192);
    text-align: center;
    font-size: 55px;
    margin-top: 20px;
    padding-bottom: 30px;
}

/*Titulo do destaque 4 - avaliações*/
.main-avaliacoes .titulos {
    width: 100%;
}

/*Avaliação texto e fotos*/
.destaques5 {
    background-color: rgb(148, 128, 95);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*todo conteúdo dentro de avaliações*/
.destaques5 .avaliacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25rem;
    padding: 2rem;
    background-color: rgb(148, 128, 95);
}

@media screen and (max-width: 500px) {
    .destaques5 .avaliacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 20rem;
        padding: 2rem;
        background-color: rgb(148, 128, 95);
    }
}

/*Foto da pessoa avaliadora nos destaques*/
.destaques5 .avaliacao .foto-avaliador {
    width: 80px;
    border-radius: 100%;
}

/*Foto da pessoa avaliadora nos destaques*/
.destaques5 .avaliacao .foto-avaliador img{
    width: 80px;
    height: 80px;
}

/*todo conteúdo dentro de avaliações*/
.destaques5 .avaliacao .avaliacao-conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(148, 128, 95);
}


/*Nome da pessoa da avaliação*/
.avaliacao h4 {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;
    color: rgb(238, 219, 192);
    margin-top: 5px;
    font-size: 25px;
}

/*paragrafos da avaliação dos usuários*/
.avaliacao-conteudo p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    margin: 5px 25px;
    color: rgb(220, 200, 150);
}

@media screen and (max-width: 900px) {
    .avaliacao-conteudo p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
}

/*estrlas das avaliações*/
.estrelas-avaliacao img {
    display: inline;
    width: 20px;
}

/*caixa das estrelas da avaliação*/
.estrelas-avaliacao {
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .estrelas-avaliacao {
        margin-bottom: 50px;
    }
}
























































/*MAIN DO ENTREVISTA E MAKING OF*/
.entrevista-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

/*MAIN DO ENTREVISTA E MAKING OF*/
.entrevista-main .videos-entrevistas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*caixa de videos da entrevista*/
.entrevista-main .videos-entrevistas .video {
    padding: 2rem;
    width: 30rem;
}

@media screen and (max-width: 750px) {
    .entrevista-main .videos-entrevistas .video {
        padding: 1rem;
        width: 25rem;
    }
}

@media screen and (max-width: 400px) {
    .entrevista-main .videos-entrevistas .video {
        padding: 1rem;
        width: 17rem;
    }

}

/*titulo do video das entrevistas filmes*/
.titulo-video-entrevista .titulos {
    font-size: 30px;
    margin: 0px 10px;
    padding: 0px;
    text-align: left;
}

/*Paragrafos dos textos das entrevistas*/
.video .texto-entrevistas p {
    text-align: left;
    margin: 5px 10px;
    color: rgb(220, 200, 150);
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
    .video .texto-entrevistas p {
        font-size: 15px;
    }
}

/*Links dos textos das entrevistas*/
.videos-entrevistas a {
    color: rgb(220, 200, 150);
    margin: 5px 10px;
}

/*Links dos textos das entrevistas com mouse em cima*/
.videos-entrevistas a:hover {
    color: rgb(172, 154, 109);
    margin: 5px 10px;
}

/*NOVIDADES*/
.novidades-main {
    background-color: rgb(207, 178, 135);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

/*NOVIDADES*/
.novidades {
    background-color: rgb(207, 178, 135);
    justify-content: start;
    width: 100%;
}

.novidades-main .novidades .noticias{
    width: 50rem;
}

/*novidades main*/
.novidades-main .texto-novidades {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: rgb(22, 63, 67);
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    padding: 1rem;
}

/*titulos do novidades*/
.novidades .titulos {
    display: flex;
    justify-content: start;
    text-align: left;
    color: rgb(22, 63, 67);
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.conteudo-lateral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.novidades-main .conteudo-lateral .div-titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 100%;
}

.novidades-main .conteudo-lateral .div-titulo .titulos {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    color: rgb(22, 63, 67);
}

.novidades .noticias .card-noticias {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    justify-content: space-between;
    width: 100%;
}

.novidades .noticias .card-noticias .conteudo-novidades{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .novidades .noticias .card-noticias .conteudo-novidades, .texto-novidades, .texto  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

.novidades .noticias .card-noticias .conteudo-novidades .imagem {
    display: flex;
    width: 20rem;
}
.novidades .noticias .card-noticias .conteudo-novidades .imagem img {
    width: 100%;
}

.conteudo-lateral .editorial {
    width: 100%;
}

/*Texto do sobre*/
.conteudo-lateral .texto, ul{
    list-style: none;
    text-align: right;
    margin-right: 10px;
    color: rgb(22, 63, 67);
    font-size: 15px;
}

.conteudo-lateral .redes {
    width: 100%;
}

.conteudo-lateral .redes .conteudo-redes {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 1rem;
}

.conteudo-lateral .redes .conteudo-redes .lista-redes {
    width: 100%;
    display: inline;
    margin: 0;
    padding: 0;
}

.conteudo-redes ul li {
    list-style: none;
    width: 50px;
    display: inline;
    margin-right: 5px;
    padding: 0px;
}

.conteudo-redes ul li img {
    list-style: none;
    width: 10%;
    display: inline;
    margin: 0px;
    padding: 0px;
}

.conteudo-novidades h4 {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1150px) {
    .novidades-main,
    .novidades{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .novidades-main,
    .novidades,
    .conteudo-novidades,
    .titulos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1000px) {
    .novidades .conteudo-novidades .imagem{
        width: 100%;
    }
}


.novidades .texto-novidades p {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .novidades .texto-novidades {
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .novidades .texto-novidades {
        width: 100%;
        padding: 0;
    }
}


/*Links dos textos das entrevistas*/
.conteudo-novidades a {
    color: rgb(22, 63, 67);
    margin: 5px 10px;
}

/*Links dos textos das entrevistas com mouse em cima*/
.conteudo-novidades a:hover {
    color: rgb(172, 154, 109);
    margin: 5px 10px;
}

/*FIM MAIN ----------------------------------------------------------------------------------------*/























/*Rodapé-------------------------------------------------------------------------------------------*/

footer {
    background-color: rgb(22, 63, 67);
    color: rgb(238, 219, 192);
}

footer .div-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

footer .div-footer .div-copyright {
    padding-top: 1.5rem;
    text-align: left;
}

footer .div-footer .div-logo{
    width: 20rem;
}

footer .div-footer .div-logo img{
    width: 100%;
}

@media screen and (max-width: 1075px) {
    footer .div-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }
    footer .div-footer .div-copyright {
        padding-top: 1.5rem;
        text-align: center;
    }
    
    footer .div-footer .div-logo{
        display: flex;
        justify-content: center;
        width: 10rem;
    }
    
    footer .div-footer .div-logo img{
        width: 100%;
    }
}
